.card-item img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.card-item {
    margin: 25px 0px;
    padding: 10px;
    display: grid;

    grid-template-columns: 1fr 4fr;

    gap: 20px;

    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.2);
}

button:hover, button:focus {
    background-color: white;
    color: black;
    border: 1px solid #11c0ff;
}

.buttons {
    gap: 10px;
}

.buttons ng-icon {
    font-size: 1.2em;
    transition: 0.2s;
}

.buttons ng-icon:hover{
    color: crimson;
    scale: 1.5;
}

p {
    white-space: pre-wrap;
}