<div class="card-item" *ngIf="!editSelf">
    <div>
        <img src="{{card.iconUrl}}" alt="">
    </div>
    <div>
        <div class="flex">
            <h3>
                {{ card.title }}
            </h3>
            <div class="flex buttons" *ngIf="edit">
                <ng-icon name="bootstrapPencil" (click)="editSelfToggle()"></ng-icon>
            
                <ng-icon name="bootstrapTrash" (click)="clickedDelete()"></ng-icon>
            </div>
        </div>
        <p> {{ card.content }}</p>
    </div>
</div>

<form *ngIf="editSelf"
    [formGroup]="editForm"    
>
    <div class="card-item">
        <div>
            <img src="{{card.iconUrl}}" alt="">
            <label for="iconUrl"> <h3> Icon Url </h3> </label>
            <input 
                type="text"
                name="iconUrl"  
                placeholder="Url del ícono"
                formControlName="iconUrl"
            >
        </div>

        <div>
            <div>
                <div class="flex top-bar">
                    <label for="title"> <h3> Title </h3>  </label>

                    <div class="flex buttons">
                        <ng-icon name="bootstrapSave" (click)="clickedSave()"></ng-icon>
                        
                        <ng-icon name="bootstrapX" (click)="editSelfToggle()"></ng-icon>
                    </div>
                </div>
                <input 
                    type="text" 
                    name="title"
                    placeholder="Título"
                    formControlName="title"
                >
            </div>

            <div>
                <label for="content"> Contenido </label>
                <textarea 
                    name="content" 
                    placeholder="Contenido"
                    formControlName="content"
                > 
                </textarea>
            </div>
        </div>
    </div>
</form>