<section class="about">

    <div class="info">
        <div class="icon">
            <div class="relative">
                <img src={{about.iconUrl}}> 
                <div 
                    class="editIcon" 
                    *ngIf="editable" 
                    (click)="toggleEdit.iconUrl()">
                    <ng-icon 
                        name="bootstrapPencil">
                    </ng-icon>
                </div>
            </div>

            <form *ngIf="about.iconUrlEdit" #f="ngForm"
                (ngSubmit)="update.iconUrl(iconUrlField.value); toggleEdit.iconUrl()"
            >
                <input type="text" [formControl]="iconUrlField">
            </form>
            
            <div class="flex" *ngIf="!about.iconDescriptionEdit">
                <p> {{ about.iconDescription }} </p>
                <ng-icon name="bootstrapPencil" class="little-pen" *ngIf="editable" (click)="toggleEdit.iconDescription()"></ng-icon>
            </div>

            <form #f="ngForm" *ngIf="about.iconDescriptionEdit"
                (ngSubmit)="update.iconDescription(iconDescField.value); toggleEdit.iconDescription()"
            >
                <div class="flex">
                    <label> <h4> Description </h4> </label> 
                    <ng-icon 
                        name="bootstrapPencil" 
                        class="little-pen" 
                        (click)="toggleEdit.iconDescription(); update.iconDescription(iconDescField.value)">
                    </ng-icon>
                </div>

                <input type="text" [formControl]="iconDescField">
            </form>
        </div>
    </div>
    
    <div class="main">
        <div class="flex" *ngIf="!about.titleEdit">
            <h2> {{ about.title }} </h2>
            <ng-icon 
                name="bootstrapPencil" 
                class="little-pen" 
                *ngIf="editable" 
                (click)="toggleEdit.title()">
            </ng-icon>
        </div>

        <div>
            <form #f="ngForm" *ngIf="about.titleEdit"
                (ngSubmit)="update.title(titleField.value); toggleEdit.title()"
            >
                <div class="flex">
                    <ng-icon 
                        name="bootstrapPencil" 
                        class="little-pen" 
                        (click)="toggleEdit.title(); update.title(titleField.value)">
                    </ng-icon>
                </div>

                <input type="text" [formControl]="titleField">
            </form>
        </div>

        <div class="flex" *ngIf="!about.contentEdit">
            <p> {{ about.content }} </p>
            <ng-icon 
                    name="bootstrapPencil" 
                    class="little-pen" 
                    *ngIf="editable" 
                    (click)="toggleEdit.content(); update.content(contentField.value)">
            </ng-icon>
        </div>


        <div>
            <form #f="ngForm" *ngIf="about.contentEdit"
                (ngSubmit)="update.content(contentField.value); toggleEdit.content()"   
            >
                <div class="flex">
                    <label> <h4> Content </h4> </label> 
                    <ng-icon 
                        name="bootstrapPencil" 
                        class="little-pen" 
                        (click)="toggleEdit.content(); update.content(contentField.value)">
                    </ng-icon>
                </div>

                <textarea [formControl]="contentField" type="input"></textarea>
            </form>
        </div>

        <div 
            class="submit-button"
            *ngIf="editable && inputDirty()"
            >
            <button (click)="saveAbout()"> Submit changes </button>
        </div>
    </div>
</section>