nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    background-color: var(--bcol-2);
    padding: 0px 30px;

    align-items: center;

    z-index: 10;
}

.banner {
    color: white;
    height: 30vh;
    max-height: 500px;
    width: 100%;
}

.banner img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: left;
}

ng-icon {
    color: white;
    font-size: 2em !important;
    transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

ng-icon:hover {
    color: var(--tcol-2);
    cursor: pointer;
    scale: 1.2;
}

a {
    text-decoration: none;
    color: black;
}

.sociales {
    gap: 2em;
}

.burger {
    display: none;
}

@media (max-width: 600px) {
    .flex {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .icon {
        display: none;
    }

}
