nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    background-color: var(--color-5);
    padding: 0px 30px;

    align-items: center;

    z-index: 10;
}

.banner {
    color: white;
    height: 400px;
    background-color: black;
}

.banner img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

ng-icon {
    color: white;
    font-size: 2em !important;
    transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

ng-icon:hover {
    color: var(--color-2);
    cursor: pointer;
    scale: 1.2;
}

a {
    text-decoration: none;
    color: black;
}

.sociales {
    gap: 2em;
}
