<div class="wrapper"> 
    <ng-icon
        class="toggle-edit"
        *ngIf="edit" 
        [name]="!editSelf ? 'bootstrapPencil' : 'bootstrapDash'"
        (click)="editSelf=!editSelf"
    >

    </ng-icon>

    <mat-card *ngIf="!editSelf">
        <div class="row">
            <div class="col-2">
                <mat-card-title-group>
                    <mat-card-title> 
                        {{ project.name }} 

                        <a href="{{project.sourceUrl}}" target="_blank">
                            <ng-icon name="bootstrapLink45deg"></ng-icon>
                        </a>
                    </mat-card-title>

                    <mat-divider> </mat-divider>

                    <mat-card-subtitle> {{ project.date }} </mat-card-subtitle>
                </mat-card-title-group>
                
                <img src="{{project.imageUrl}}" mat-card-xl-image>
            </div>

            <div class="col-3">
                <mat-card-content>
                    {{project.description}}
                </mat-card-content>
            </div>
        </div>

        <mat-card-footer>

            <mat-divider> </mat-divider>

            <div class="chip"
                *ngFor="let ch of project.chips"
            > {{ch}} </div>
        </mat-card-footer>
        
    </mat-card>

    <mat-card *ngIf="edit && editSelf">
        <app-add-project-form
            [defaultProj]="project"
            (projectAdder)="updateSelf()"
        >
        </app-add-project-form>
    </mat-card>
</div>