.wrapper {
    position: relative;
    margin: 25px;
}

mat-card {
    padding: 10px;
}

.chip {
    width: fit-content;
    display: inline;

    border-radius: 2rem;

    padding: 0.5rem;
    margin: 0 0.5rem;

    background-color: rgba(214, 62, 235, 0.8);
}

ng-icon.toggle-edit {
    z-index: 100;
    position: absolute;
    top: 2rem;
    left: calc(100% - 2rem);
}