<div class="container">
    <div class="row">
        <h2 class="col1">Iniciar sesión</h2>

        <ng-icon name="bootstrapArrow90degLeft" class="col5" (click)="goHome()"> </ng-icon>
    </div>

    <form [formGroup]="logInForm"
        (ngSubmit)="onSubmit(logInForm.value)"
        class="flex"
        autocomplete="off"
    >
        <div>
            <label for="usuario">Usuario:</label>
            <input  type="text" 
                    id="usuario" 
                    name="usuario"
                    placeholder="Nombre de usuario"
                    formControlName="user"
                    [class.error]="!userInput.valid && userInput.touched"
                    >
            <div class="inputError" *ngIf="userInput.hasError('required')">
                Debe llenar este espacio
            </div>
        </div>
        <div class="wing-form-group">
            <label for="contraseña">Contraseña:</label>
            <input  type="password" 
                    id="contraseña" 
                    name="contraseña"
                    placeholder="Contraseña"
                    formControlName="password"
                    [class.error]="!passInput.valid && passInput.touched"
                    >
            <div class="inputError" *ngIf="passInput.hasError('required')">
                Debe llenar este espacio
            </div>
        </div>

        <button type="submit" [class.disabled]="!logInForm.valid"> Enviar </button>
        
    </form>
</div>