<div class="container">
    <h2>Iniciar sesión</h2>
    <form [formGroup]="logInForm"
        (ngSubmit)="onSubmit(logInForm.value)"
        [style.background]="(logInForm.valid) ? 'white' : 'aquamarine'"
    >
        <div class="wing-form-group">
            <label for="usuario">Usuario:</label>
            <input  type="text" 
                    id="usuario" 
                    name="usuario"
                    placeholder="Nombre de usuario"
                    formControlName="user"
                    class="wing-form-control"
                    >
        </div>
        <div class="wing-form-group">
            <label for="contraseña">Contraseña:</label>
            <input  type="password" 
                    id="contraseña" 
                    name="contraseña"
                    placeholder="Contraseña"
                    formControlName="password" 
                    class="wing-form-control">
        </div>

        <button type="submit" class="wing-btn-primary">Iniciar sesión</button>
        
    </form>
</div>