<div class="container">
    <h2>Iniciar sesión</h2>
    <form>
        <div class="wing-form-group">
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" class="wing-form-control" required>
        </div>
        <div class="wing-form-group">
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" class="wing-form-control" required>
        </div>
        <div class="wing-form-group">
            <button type="submit" class="wing-btn wing-btn-primary center">Iniciar sesión</button>
        </div>
    </form>
</div>