<div class="border">
    <div class="flex">
        <h1> <b> Mis Proyectos </b> </h1>

        <button 
            class="outline"
            *ngIf="logged"
            (click)="toggleForm()"
        >
            <ng-icon
                name="bootstrapPlus"
                *ngIf="!showForm"
            ></ng-icon>

            <ng-icon
                name="bootstrapDash"
                *ngIf="showForm"
            ></ng-icon>
        </button>
    </div>
    
    <app-add-project-form
        *ngIf="logged && showForm"
        (projectAdder)="toggleForm(); addProject($event)"
    >
    </app-add-project-form>

    <app-project-item 
        *ngFor="let proj of projects"
        [project]="proj"
        (update)="updateCard($event)"
        [edit]="logged"
    ></app-project-item>
</div>
