.skill-card {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.skill-card .percentage {
    opacity: 0;
    transition: opacity .2s, scale .5s ease-in-out;
}

.skill-card .spinner:hover .percentage {
    opacity: 1;
    scale: 1.5;
}

.skill-card .spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-card .spinner .percentage {
    position: absolute;
}

mat-card-title {
    text-align: center;
}

ng-icon {
    font-size: 1.2em;
    transition: 0.2s;
}

ng-icon:hover{
    color: crimson;
    scale: 1.5;
    cursor: pointer;
}

mat-progress-spinner {
    color: var(--color-2)!important;
}

mat-card {
    background-color: var(--color-4)!important;
}