.slider-border {
    z-index: 2;
    position: relative;
    height: 2em;
    width: 80%;

    border: 1px solid black;
    border-radius: 5px;
}

.slider {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, #ccbe96e0, rgb(100, 224, 42));
    height: 100%;
    transition: 1s;
}

.slider-border:not(:hover) .slider{
    width: 0% !important;
}
