.skill-card {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 20px;
}

.skill-card .percentage {
    opacity: 0;
    transition: opacity .2s, scale .5s ease-in-out;
}

.skill-card .spinner:hover .percentage {
    opacity: 1;
    scale: 1.5;
}

.skill-card .spinner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-card .spinner .percentage {
    position: absolute;
}