* {
    box-sizing: border-box;
}

body {
    /*background-color: #14e6b8; */
    /*background-color: #313140; */
    background: url(assets/layered-peaks-haikei.svg) no-repeat fixed center;

    background-size: cover;

    bottom: 0;

    margin: 0;
}

.border {
    padding: 50px 50px 50px;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
