* {
    box-sizing: border-box;
}

:root {
    --color-1: #8C8DD9;
    --color-2: #2B193D;
    --color-3: #CCCBCB;
    --color-4: #F2F1F1;
    --color-5: #7F675B;
}

body {
    /*background-color: #14e6b8; */
    /*background-color: #313140; */
    /* background: url(assets/low-poly-grid-haikei_16_9.svg) no-repeat fixed center; */

    background-color: var(--color-1);
    background-size: cover;

    bottom: 0;

    margin: 0;
}

.border {
    padding: 50px 50px 50px;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    width: fit-content;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    background-color: var(--color-5);
}

button.outline {
    background-color: transparent;
}

hr {
    border-top: 1px solid red;
    inset: false;
}

@media (max-width: 600px) {
    .border {
        padding: 10px;
    }
}