* {
    box-sizing: border-box;
}

body {
    background-color: #14e6b8;
    /*background-color: #313140; */
    margin: 0;
}

.border {
    padding: 0 50px;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
