<div class="border" *ngIf="cards.length > 0 || editMode()">
    <div class="flex">
        <h1> <b> {{ title }} </b> </h1>
        <button *ngIf="editMode()" (click)="addCardToggle()" class="outline"> 
            <ng-icon name="bootstrapPlus" *ngIf="!addCardForm"></ng-icon> 
            <ng-icon name="bootstrapDash" *ngIf="addCardForm"></ng-icon>
        </button>
    </div>

    <app-new-card-form *ngIf="addCardForm" [addCard]="myAddCard"></app-new-card-form>

    <app-inst-card *ngFor="let fooCard of cards"
        [edit]="editMode()"
        [card]="fooCard"
        (deleteCard)="removeCard($event)"
        (saveEdits)="saveCard($event)">
    </app-inst-card>

    <hr>
</div>